version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres
    environment:
      POSTGRES_DB: devices
      POSTGRES_USER: admin_admin
      POSTGRES_PASSWORD: pa$$word
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin_admin -d devices"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    container_name: device-app
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      SPRING_PROFILES_ACTIVE: prod
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/devices
      SPRING_DATASOURCE_USERNAME: admin_admin
      SPRING_DATASOURCE_PASSWORD: pa$$word
      SPRING_JPA_HIBERNATE_DDL_AUTO: validate
    deploy:
      replicas: 1
      resources:
        limits:
          cpus: "1.0"
          memory: 1G
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8081/actuator/health/readiness" ]
      interval: 10s
      timeout: 2s
      retries: 3
    ports:
      - "8080:8080"
      - "8081:8081"

volumes:
  postgres_data:
